#container {
  text-align: center;
  max-width: 400px;
  margin: auto;
  font-family: sans-serif, Arial, Helvetica;
  background-color: hsla(0, 0%, 62%, 0.562);
  margin-top: 40px;
  padding: 30px;
  box-shadow: 5px 5px 5px hsla(257, 45%, 8%, 0.993);
  border-bottom: rgb(204, 8, 8) 5px solid;
  border-top: rgb(204, 8, 8) 5px solid;
  border-radius: 10px;
}

button {
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 8px;
  background-color: hsl(69, 80%, 28%);
  margin: 20px 0;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: hsl(69, 80%, 20%);
}
